body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */ /* Replaced by old global.css font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Copied from old global.css */
  background: url("@assets/images/background.jpg");
  font-family: 'Open Sans', sans-serif; /* Requires font import */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Copied from old global.css */

/* General HTML element styling */
h1, h2, h3 {
  font-family: 'Lobster', cursive; /* Requires font import */
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}

strong {
  font-weight: bold;
}

form {
  width: 500px;
  margin: auto;
  text-align: center;
  background-color: rgba(255,255,255,0.6);
  border: 1px solid black;
  border-radius: 10px;
}