# To set the name of the containers, not mandatory for dev
REGISTRY=
IMAGE_OWNER=
TAG=

# URLs and port for server and client
CLIENT_PORT=
SERVER_PORT=
FRONTEND_URL=
API_BACKEND_URL=

# Mandatory, see readme.
JWT_SECRET=
JWT_EXPIRY=

# Mail feature
BREVO_SMTP_USER=
BREVO_SMTP_PASS=
CONTACT_MAIL_FROM=
