/* Styles for UserProfile component */

.userProfile-container {
  padding: 2rem;
  max-width: 600px;
  border-radius: 0.5rem;
}



.userProfile-label {
  display: block;
  margin: 0.3rem 0;
  font-weight: 600;
  align-self: center;
}

.userProfile-input {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  background: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  text-align: center;
  transition: border-color 0.2s ease;
}

.userProfile-input:focus {
  outline: none;
  border-color: #007bff;
}

.contentPage-actions .adminPanel-button[type= "submit"]{
  background-color : #ffc107;
  color:black;
  margin-top: 0.3rem ;
}

.userProfile-button[type="submit"]{
  margin-top: 1rem;
}