/* chat.css : styles pour la page chat.php */

/* Lien de déconnexion */
.lienDeconnexion
{
  text-align: center;
  color: red;
  font-size: 0.8em;
}

/* Formulaire de la conversation */
#formulaireChat
{
  width: 900px;
  margin-bottom: 10px;
}

#message
{
  width: 650px;
}

/* Chat */
.conversation, .listeConnectes
{
  vertical-align: top;
  display: inline-block;
  margin-left: 20px;
  background-color: rgba(255,255,255,0.6);
  border: 1px solid black;
}

/* Affichage des messages */
.conversation
{
  width: 790px;
}

.message
{
  margin-top: 0px;
  margin-bottom: 10px;
}

/* Affichage des fanfarons connectés */
.listeConnectes
{
  width: 150px;
}
