/* index.css : styles pour la page index.php */

/* Bloc diaporama */
.carousel
{
  width: 900px;
  margin: auto;
}

.texteElt
{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(128,128,128,0.3);
  color: rgb(255,255,255);
  position: relative;
  bottom: 80px;
  margin-bottom: 0px;
}

/* Blocs dates et Twitter */
.blocDates, .blocTwitter
{
  display: inline-block;
  vertical-align: top;
  width: 470px;
  margin-left: 20px;
}

/* Bloc dates */
.blocDates
{
  text-align: center;
}

.date
{
  font-weight: bold;
}

.description
{
  font-style: italic;
}
