/* Bloc Social (anciennement .blocSocial) */
.social-links-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.social-icon-img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  transition: opacity 0.2s ease-in-out;
}


.social-icon-img:hover {
    opacity: 0.8; /* Slight hover effect */
} 

.social-icon-instagram .social-icon-img {
    width: 40px;
    height: 40px;
}