/* page gestions fanfarons*/

.gestionFanfarons-container {
  padding: 2rem;
  /*background-color: #fff;*/
}

.gestionFanfarons-form-group {
  margin-bottom: 1rem;
  display: contents; /* permet au grid de fonctionner */
}

.gestionFanfarons-label {
  display: block;
  margin: 0.25rem 0 0.25rem;
  font-weight: 600;
  align-self: center;
}

.gestionFanfarons-input,
.gestionFanfarons-textarea {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  background: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  text-align: center ;
}
.gestionFanfarons-textarea{
  text-align: justify;
}
.gestionFanfarons-buttons {
  display: flex;
  justify-content: center;   /* centre horizontalement */
  align-items: center;       /* centre verticalement */
  gap: 1rem;
  margin: 1.5rem 0;
}




.gestionFanfarons-button--submit {
  background-color: #007bff;
  color: white;
  align-self: center;
}

.gestionFanfarons-button--cancel {
  background-color: #6c757d;
  color: white;
}

.gestionFanfarons-td--actions {
  text-align: center;         /* centre horizontalement le contenu */
}

.gestionFanfarons-button {
  display: block;             /* chaque bouton prend toute la largeur disponible */
  margin: 0.25rem auto;
   padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;       /* centre chaque bouton horizontalement */
}

.gestionFanfarons-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff8d;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.gestionFanfarons-th,
.gestionFanfarons-td {
  padding: 0.75rem;
  border: 1px solid #e0e0e0;
}

.gestionFanfarons-th--id,
.gestionFanfarons-td--id {
  width: 4rem;
}

.gestionFanfarons-th--surnom,
.gestionFanfarons-td--surnom {
  padding-left: 1rem;
}

.gestionFanfarons-photo {
  max-width: 4rem;
  max-height: 4rem;
  object-fit: cover;
  border-radius: 0.25rem;
}

.gestionFanfarons-form-wrapper {
  width: 100%;
  margin-bottom: 2rem;
}

.gestionFanfarons-form {
  
  grid-template-columns: 1fr 2fr;
  gap: 1rem 2rem;
}

