 /* In client/src/components/LandingPage.css */
    
 .blocCarousel {
    margin-bottom: 40px; /* Space below carousel */
}

.carousel-slide {
    text-align: center;
    position: relative; /* Needed for absolute positioning of caption if used */
    
}

.carousel-picture {
    width: 100%;
    /*max-height: 500px;*/
    object-fit: contain
}
.carousel-caption {
    /* Example: Overlay caption */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128,128,128,0.3);
    color: white;
    padding: 0.1em 0 0.1em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

.blocDatesDeezer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.dates-container {
    flex: 0 0 35%;
    text-align: center;
    max-width: 500px;
}

.deezer-container {
    flex: 0 0 30%;
    text-align: center;
    max-width: 500px;
}



/* Optionnel : ajuster la responsivité */
@media (max-width: 768px) {
  .dates-container,
  .deezer-container {
    flex: 1 1 100%;
  }
}

.blocDatesDeezer h2{
    text-align: center;
}

.blocDatesDeezer p {
    margin-bottom: 1.5rem; /* Space between date entries */
}

.blocDatesDeezer .date {
    margin-top: auto;
    font-weight: bold;
    color: black; /* Example color */
}

.blocDatesDeezer .description {
    font-style: italic;
    color: #555;
    font-size: 0.9em;
    display: block; /* Ensure description is on its own line */
    margin-top: 3px;
}

.error-message { /* General error message styling */
    color: #c10000;
    background-color: #fdd;
    border: 1px solid #c10000;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}
